
{{#each Article}}
{{#if saved}}
<div class="card" style="width: 80%; text-align: center; margin: 10px auto">
  <p style="display: none">{{_id}}</p>
  <div class="card-block">
    <h4 class="card-title">{{title}}</h4>
    <a href="{{link}}">{{link}}</a>
    <br><br>
 <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{{this.id}}">Note</button>
 <div class="modal fade" id="{{this.id}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Note</h4>
        <div class="card-block" style="border: 1px solid #000">
            <p>{{#each note}}
                {{this.body}}
                {{/each}}</p>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     <form action="saved/{{this.id}}" method="POST">
      <input type="text" name="body">
      <button type="submit" class="btn btn-default">Add note</button>
     </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <form action="saved/{{this.id}}?_method=PUT" method="POST"  style="display: inline">
      <input type="hidden" name="saved" value="false">
      <button type="submit" class="btn btn-default">Delete</button>
     </form>
  </div> 
</div>
{{/if}}  
{{/each}}


